/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* ? convert document font-size 1rem to 10px */
/*
16px = 1rem
1px = 1/16rem
10px = 1/16 * 10 rem = 0.625 rem;
convert ro percentage = 62.5%
*/

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #f5f8ff;
}

.header-section {
  width: 100%;
  height: 75vh;
  background-image: url('./assets/Hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15rem;
  padding: 6rem;
}
.monoton-regular {
  font-family: 'Monoton', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo {
  width: 25rem;
  height: 5rem;
  font-size: 4.8rem;
}
.logo a {
  text-decoration: none;
  color: #0800ff;
  transition: all 0.3s;
}

.btn {
  background-color: #4e47ff;
  border: none;
  color: #ffffff;
  border-radius: 1rem;
  transform: translateY(-3px);
  padding: 1.2rem;
  transition: all 0.5s;
}

.nav__btn {
  width: 13rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 800;
}

.hero {
  margin-top: 16rem;
  text-align: center;
}
.hero__title {
  font-size: 6.5rem;
  font-weight: 800;
}
.hero__title--sub {
  display: block;
}

.hero__btn {
  width: 17rem;
  height: 5rem;
  font-size: 1.6rem;
  margin-top: 3.5rem;
  font-weight: 800;
}

.action {
  height: 33rem;
  width: 115rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 22rem;
  margin: 0 auto;
  margin-top: 11rem;
}

.action__left {
  height: 20rem;
  width: 52rem;
}

.action__left--heading {
  font-size: 4.5rem;
  font-weight: 800;
}

.action__left--description {
  font-size: 2.5rem;
  margin-top: 2rem;
  color: rgba(37, 36, 50, 0.5);
}

.action__left--description--sub {
  display: block;
}

.action__left--btn {
  height: 5rem;
  width: 23rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 800;
  color: #fff;
}

.action__right--img {
  height: 32rem;
  max-width: 40rem;
  border-radius: 3rem;
}

.overview {
  height: 30rem;
  width: 115rem;
  border-radius: 2rem;
  background-color: rgba(77, 71, 255, 0.1);
  margin: 0 auto;
  margin-top: 12rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview__title {
  font-size: 3.8rem;
  font-weight: 800;
}
.overview__items {
  display: flex;
  align-items: center;
  gap: 16rem;
}

.overview__item {
  margin-top: 4rem;
}

.overview__item--big {
  text-transform: uppercase;
  font-size: 8rem;
  color: #4e47ff;
  font-weight: 800;
}

.overview__item--small {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.review {
  height: 35rem;
  width: 115rem;
  margin: 0 auto;
  margin-top: 14rem;
}

.review__main {
  display: flex;
  gap: 2rem;
}

.review__container {
  height: 23rem;
  width: 35rem;
  background-color: rgba(242, 237, 237, 0.5);
  padding: 2.5rem;
  border-radius: 1rem;
}

.review__container--rating {
  margin-bottom: 2.5rem;
}

.review__title {
  text-align: center;
  font-size: 4.2rem;
  font-weight: 800;
  margin-bottom: 5rem;
}

.review__message--title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.review__author--container {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
}

.review__author--avatar {
  border-radius: 50%;
}

.review__author--name {
  color: #757575;
}
.review__date {
  color: #757575;
}

.webflow {
  height: 70rem;
  width: 114rem;
  margin: 0 auto;
  margin-top: 14rem;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.webflow__title {
  font-size: 5rem;
  font-weight: 800;
  color: #000000;
  margin-bottom: 2rem;
}
.webflow__message {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}
.webflow__btn {
  height: 5rem;
  width: 20rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.webflow__banner--big {
  height: 37rem;
  width: 84rem;
  border-radius: 3rem;
  display: block;
}

.contact {
  margin: 0 auto;
  margin-top: 10rem;
  height: 65rem;
  width: 120rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
  align-items: center;
}

.contact label {
  font-size: 2rem;
  margin-top: 1rem;
}

.contact__heading {
  font-size: 8rem;
  font-weight: 800;
}

.contact__heading--sub {
  display: block;
}

.contact__btn {
  height: 6rem;
  width: 100%;
}

.contact input[type='text'],
.contact input[type='email'] {
  height: 5rem;
  width: 100%;
  padding: 3.2rem 2rem;
  border: none;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.contact textarea {
  width: 100%;
  padding: 3.2rem 2rem;
  border: none;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.footer {
  margin-top: 1.5rem;
  height: 30rem;
  width: 100%;
  padding: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  width: 53rem;
  height: 22rem;
  margin: 0 auto;
  text-align: center;
}
.footer-title {
  width: 100%;
}

.footer__description {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
}

.footer__links ul {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.footer__links ul li {
  list-style: none;
}

.footer__links ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.footer__links ul li a:hover {
  color: #6200ff;
}

.copywrite {
  margin-top: 5rem;
  text-align: center;
}

.logo a:hover {
  color: #6200ff;
}
.btn:hover {
  transform: translateY(-1px);
  cursor: pointer;
  background-color: #6200ff;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
